h1 {
  font-family: sans-serif;
  color: rgb(255,0,0);
  text-align: center;
}

h2 {
  color: blue;
  font-family: sans-serif;
  font-style: italic;
}
.foto{
  width: 20%;
  margin-left: 7%;
  border-radius: 50%;
}
